/* .discription {
  border: 3px solid red;
} */
.selector {
  border: 3px solid pink;
  margin: 20px;
  font-size: smaller;
}
.copyright {
  font-size: small;
  font-style: italic;
  color: gray;
  text-align: right;
}
.submit {
  font-size: larger;
}
.onlyStaff {
  font-size: larger;
  text-align: right;
}
